ACTION=="add", SUBSYSTEM=="tty", SUBSYSTEMS=="platform|usb-serial", SYMLINK+="serial-starter/%k"
ACTION=="remove", SUBSYSTEM=="tty", SUBSYSTEMS=="platform|usb-serial", RUN+="/opt/victronenergy/serial-starter/cleanup.sh %k"

# The VE USB RS485 has a FT232R, but that chip can also rs232 etc, so also check default
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="FT232R_USB_UART",            ENV{VE_SERVICE}="rs485:default"
# Older versions have specific id_model so that is rs485 for sure
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="USB-RS485_Cable",            ENV{VE_SERVICE}="rs485"
# Isolated rs485
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="USB485_Iso_stick",           ENV{VE_SERVICE}="rs485"
# The Zigbee USB to rs485 show up as Serial_Controller_D, so check cgwacs as well
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="USB-Serial_Controller_D",    ENV{VE_SERVICE}="cgwacs:default"
# 2nd generation Zigbee converter - DRF2658C (USB)
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="CP2102_USB_to_UART_Bridge_Controller", ENV{VE_SERVICE}="cgwacs:default"
# DRF2658C Zigbee converter with CH340 chip
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="USB2.0-Serial", ENV{VE_SERVICE}="cgwacs:default"

# VE.Direct cable should have a specific model-id, if not set it is a FT232EX.
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="VE_Direct_cable",            ENV{VE_SERVICE}="vedirect"
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="FT232EX",                    ENV{VE_SERVICE}="vedirect:default"

ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="MK3-USB_Interface",          ENV{VE_SERVICE}="mkx"
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_MODEL}=="CANable_1205aa6_https:__github.com_normaldotcom_cantact-fw",          ENV{VE_SERVICE}="smacan"